body {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 300;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.navbar-light .navbar-nav .nav-link {
    color: blue;
    font-size: 13px;
}

.grid {
    padding-top: 5%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 33.33%;
    max-width: 33.33%;
    padding: 20px 20px;
    text-align: center;
}

.column-desc {
    flex: 70%;
    max-width: 70%;
    padding: 20px 20px;
}

.column-desc2 {
    flex: 30%;
    max-width: 30%;
    padding: 20px 20px;
    font-weight: 600;
}

.desc-title {
    font-size: 20px;
}

.desc {
    color: blue;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.column-desc img {
    vertical-align: middle;
    width: 100%;
}

.column img {
    vertical-align: middle;
    width: 100%;
} 

.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}

.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}

.hvrbox .hvrbox-layer_bottom {
	display: block;
}

.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 255, 0.8);
	color: white;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}

.hvrbox .hvrbox-text {
    text-align: center;
    font-weight: 600;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}

.hvrbox.active .hvrbox-text_mobile {
	display: block;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
    .column-desc, .column-desc2 {
        flex: 100%;
        max-width: 100%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/* [LIGHTBOX BACKGROUND] */
#lb-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.4s;
  }
  #lb-back.show {
    visibility: visible;
    opacity: 1;
  }
  
  /* [LIGHTBOX IMAGE] */
  #lb-img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
  #lb-img img {
    /* You might want to play around with 
       width, height, max-width, max-height
       to fit portrait / landscape pictures properly. */
    width: 100%;
    height: auto;
   
    /* ALTERNATE EXAMPLE
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto; */
  }